body {
    background: #222;
    overflow: hidden;
    margin-left: 0 !important;
    justify-content: center;
    text-align: center;
}

.charts {
    margin-top: 10px;
    width: auto;
}

.content {
}

.nomineeContent {
}

.catName {
    font-family: "Monoton", sans-serif;
    color: red;
    text-shadow: 0 0 80px red, 0 0 30px FireBrick, 0 0 6px DarkRed;
    margin: 10px !important;
    font-size: 6vh;
}

.nomineeName {
    margin: 5px 0 !important;
    padding: 0 !important;
    font-family: "Segoe UI", sans-serif;
    color: white;
    line-height: 2rem;
    font-size: 3vh;
}

.nomineeImg {
    background-color: dimgray;
    margin-right: auto;
    margin-left: auto;
    max-width: 70%;
}

.row {
    justify-content: center;
    text-align: center;
    margin: 0 !important;
}

.owl-nav {
    font-size: 80px;
    display: flex;
    width: auto;
    color: white;
    right: 5vh !important;
    bottom: 15px !important;
    position: fixed;
    justify-content: center;
}

*:focus {
    outline: 0 !important;
}

.owl-dots, .owl-dot{
    margin: 5px;
    width: auto;
    min-width:20px;
    height: 1vh;
}
.owl-dot span{
    position: fixed;
    bottom: 10px;
    border-radius: 50%;
    background-color: whitesmoke;
    height: 2vh;
    width: 2vh;
    display: block;
}

.owl-dot.active span{
    background-color: red;
}

img {
    max-width: 250px;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

#info{
    background-color: #FFFFFF;
}