body, .row {
    overflow: hidden;
    margin-left: 0 !important;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
}

.charts {
    margin-top: 10vh;
    height: 100vh;
    width: auto;
}