body {
    background: black;
    overflow: hidden;
    margin-left: 0 !important;
    justify-content: center;
    text-align: center;
}

.charts {
    margin-top: 10vh;
    height: 100vh;
    width: auto;
}

.content {
}

.nomineeContent {
}

.catName {
    font-family: "Monoton", cursive;
    color: red;
    text-shadow: 0 0 80px red, 0 0 30px FireBrick, 0 0 6px DarkRed;
    margin: 10px !important;
    font-size: 6vh;
}

.nomineeName {
    margin: 5px 0 !important;
    padding: 0 !important;
    font-family: "Segoe UI", cursive;
    color: white;
    line-height: 2rem;
    font-size: 1.25rem;
}

.nomineeImg {
    margin-right: auto;
    margin-left: auto;
    max-width: 70%;
}

.row {
    justify-content: center;
    text-align: center;
    margin: 0 !important;
}

.owl-nav {
    font-size: 80px;
    display: flex;
    width: auto;
    color: white;
    right: 5vh !important;
    top: 80vh !important;
    position: fixed;
    justify-content: center;
}

*:focus {
    outline: 0 !important;
}

img {
    max-width: 500px;
    width: 100%;
    height: auto;
    border-radius: 50%;
}